Django<2.1
psycopg2
python-memcached
django-debug-toolbar
celery
django-celery-beat
django-celery-results
djangorestframework
djangorestframework-filters
django-filter
django-rest-swagger
markdown
pexpect
Pillow
PyYAML
requests
django-admin-json-editor
django-cors-headers
django-cacheback[celery]
