pip
psycopg2-binary
Django<2.2
sentry-sdk==1.14.0
python-memcached
django-debug-toolbar
celery
django-celery-beat
django-celery-results
djangorestframework
graphene_django>=2.0
#djangorestframework-filters
git+https://github.com/philipn/django-rest-framework-filters.git#egg=djangorestframework-filters
django-filter
django-guardian
django-rest-swagger
djangorestframework-hstore
markdown
pexpect
Pillow
PyYAML
requests
django-admin-json-editor
django-cors-headers
django-cacheback[celery]
youtube-dl
gunicorn
django_recurrence
